<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Slim">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/slim/img/slim-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/slim">
    <meta property="og:title" content="Slim">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/slim/img/slim-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/slim/img/slim-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>IntelliFin - Inregistrare</title>

    <!-- Vendor css -->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../lib/select2/css/select2.min.css" rel="stylesheet">

    <!-- Slim CSS -->
    <link rel="stylesheet" href="../css/slim.css">

</head>

<body>

    <div class="d-md-flex flex-row-reverse">
        <div class="signin-right">

            <div class="signin-box signup">
                <h3 class="signin-title-primary">Incepe acum!</h3>
                <h5 class="signin-title-secondary lh-4">Inregistrarea in platforma InteliFin este complet gratuita si dureaza doar 5 minute.</h5>

                <div class="row row-xs mg-b-10">
                    <div class="col-sm"><input type="email" class="form-control" id="email-input" placeholder="Adresa de email"></div>
                    <div class="col-sm mg-t-10 mg-sm-t-0"><input type="password" id="password-input" class="form-control" placeholder="Parola"></div>
                </div>
                <!-- row -->

                <div class="row row-xs mg-b-10">
                    <div class="col-sm"><input type="text" class="form-control" id="phone-input" placeholder="Numarul de telefon"></div>
                    <div class="col-sm mg-t-10 mg-sm-t-0"> <select class="form-control select2-show-search" id="city-input" data-placeholder="Oras">
                <option label="Alege un oras"></option>
              </select></div>
                </div>
                <!-- row -->

                <!-- row -->

                <button class="btn btn-primary btn-block btn-signin" onClick="submitRegistration();">Inregistrare</button>

                <div class="signup-separator"><span>sau inregistreaza-te cu</span></div>

                <button class="btn btn-facebook btn-block">Facebook</button>
                <button class="btn btn-google btn-block">Google</button>

                <p class="mg-t-40 mg-b-0">Esti deja inregistrat? <a href="page-signin2.html">Intra in cont!</a></p>
            </div>
            <!-- signin-box -->

        </div>
        <!-- signin-right -->
        <div class="signin-left">
            <div class="signin-box">
                <h2 class="slim-logo"><a href="index.html">IntelliFin<span>.</span></a></h2>

                <p>We are excited to launch our new company and product Slim. After being featured in too many magazines to mention and having created an online stir, we know that ThemePixels is going to be big. We also hope to win Startup Fictional Business of the Year this year.</p>

                <p>Browse our site and see for yourself why you need Slim.</p>

                <p><a href="" class="btn btn-outline-secondary pd-x-25">Mai multe detalii</a></p>

                <p class="tx-12">&copy; Copyright 2018. Toate drepturile rezervate.</p>
            </div>
        </div>
        <!-- signin-left -->
    </div>
    <!-- d-flex -->
    <div id="modalerror" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content tx-size-sm">
                <div class="modal-body tx-center pd-y-20 pd-x-20">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    <i class="icon icon ion-ios-close-outline tx-100 tx-danger lh-1 mg-t-20 d-inline-block"></i>
                    <h4 class="tx-danger mg-b-20">Date incomplete</h4>
                    <p class="mg-b-20 mg-x-20">Te rugam sa te asiguri ca ai completat toate campurile si ca adresa ta de email nu este deja inregistrata. Multumim!</p>
                    <button type="button" class="btn btn-danger pd-x-25" data-dismiss="modal" aria-label="Close">Am inteles</button>
                </div>
                <!-- modal-body -->
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
    <!-- modal -->
     <script src="configuration.js"></script>
    <script src="../lib/jquery/js/jquery.js"></script>
    <script src="../lib/popper.js/js/popper.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.js"></script>
    <script src="../lib/select2/js/select2.full.min.js"></script>
    <script src="../js/signup.js"></script>

    <script src="../js/slim.js"></script>

    <script>
        $(function() {
            'use strict';

            // Select2 by showing the search
            $('.select2-show-search').select2({
                minimumResultsForSearch: ''
            });


        });
    </script>



</body>
</html>
